<div class='navbar-lewagon'>
<%= content_for(:navbar_class, "navbar-home") %>
</div>
<div class="container p-5">
  <h2>Hola! <%#= current_user.first_name%> <%#= current_user.last_name%></h2>
</div>
<form class="simple_form user m-3" action="/users" method="get">
  <div class="input string required user_name">
    <label class="string required" for="user_name">Escuela</label>
    <input class="string required" type="text" name="school" id="school_keys" />
    <label class="string required" for="user_name">Especialidad</label>
    <input class="string required" type="text" name="speciality" id="school_keys" />
    <input type="submit" value="Filtrar" class="btn btn-success">
  </div>
</form>
<div class="mx-4">  
  <div class="row">
    <div class="col">
      <%@users.each do |psico|%>
        <%= link_to user_path(psico.id),{:style=>'text-decoration:none;', :class => "one"} do %>
        <div class="card-product m-2">
          <%#= cl_image_tag psico.photo.key, class: "rounded" %>
          <div class="card-product-infos">
            <h1><%=psico.first_name%> <%=psico.last_name%></h1>
            <h5>Celular: <%=psico.cel_phone%></h5>
            <h5>Direccion: <%=psico.address%></h5>
          </div>
        </div>
        <%end%>
      <%end%>
    </div>
    <div class="mapa sticky-top">
      <div id="map" class="col"
          style="width: 100%; height: 600px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
<%= console%>