<h1>Hola!</h1>
<h2>Aqui tienes todos los psicos:</h2>
<%@users.each do |psico|%>
  <%= link_to user_path(psico.id),{:style=>'text-decoration:none;', :class => "one"} do %>
  <div class="card-product m-2">
    <%= image_tag psico.photo, class: "rounded" %>
    <div class="card-product-infos">
      <h1><%=psico.first_name%> <%=psico.last_name%></h1>
      <h5>Celular: <%=psico.cel_phone%></h5>
      <h5>Direccion: <%=psico.address%></h5>
    </div>
  </div>
  <%end%>
<%end%>