<h1>Hola!</h1>
<h2>Aqui tienes todos los psicos:</h2>
<%@users.each do |psico|%>
  <%= link_to user_path(psico[0].id) do %>
  <div class="card-product m-2 p-2">
    <%= image_tag psico[0].photo, class: "avatar avatar-xs" %>
    <h1><%=psico[0].first_name%> <%=psico[0].last_name%></h1>
    <p>Celular: <%=psico[0].cel_phone%></p>
    <p>Direccion: <%=psico[0].address%></p>
  </div>
  <%end%>
<%end%>

<%# <form class="simple_form user" action="/users" method="get">
  <div class="input string required user_name">
    <label class="string required" for="user_name">Escuela</label>
    <input class="string required" type="text" name="school" id="school_keys" />
    <label class="string required" for="user_name">Especialidad</label>
    <input class="string required" type="text" name="speciality" id="school_keys" />
  </div>
  <input type="submit" value="Filtrar">
</form> %>