<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner">
  <div class="banner-content text-center">
    <h1>Elije tu psicologo, mejora tu vida!</h1>
    <p>Estas a un click.</p>
    <%= form_tag users_path, method: :get do %>
    <%= text_field_tag :speciality,
      params[:speciality],
      class: "form-control",
      placeholder: "Ingresa tu ciudad...", id: 'search'
    %>
    <%= submit_tag "Buscar", class: "btn btn-success", id:"btn-search" %>
  <% end %>

  </div>
</div>
  <h2 class="my-4 text-center">Simple, facil y cómodo</h2>
  <div class="container">
        <div class="cards">
      <div class="card">
        <img src=<%= asset_url('filter.png') %> id="img-home">
        <h3>Filtra</h3>
        <p>Simple y rapido desde nuestra web</p>
      </div>
      <div class="card">
        <img src=<%= asset_url('book.png') %> id="img-home">
        <h3>Reserva</h3>
        <p>Amplio rango horario</p>
      </div>
      <div class="card enjoy">
        <img src=<%= asset_url('enjoy.png') %> id="img-home">
        <h3>Disfruta</h3>
        </div>
    </div>
  </div>
</div class="mb-4">